PUBLIC_BOT_TOKEN=

ADMIN_BOT_TOKEN=

ADMIN_ID=

DB_HOST=postgres
DB_PORT=5432

DB_NAME=trustvpn

DB_USER=trustvpn

DB_PASSWORD=change_me

REDIS_HOST=redis
REDIS_PORT=6379

YOOKASSA_SHOP_ID=
YOOKASSA_SECRET=

TRUSTTUNNEL_PATH=/opt/trusttunnel

WEBHOOK_URL=

VPN_DOMAIN=